* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

main h2 {
  font-size: 2rem;
}

main p {
  font-size: 15rem;
}

nav {
  height: 3rem;
  margin-bottom: 2rem;
}

ul {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

main,
#projects {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;

  max-width: 100%;
  padding: 1rem;
  min-height: 100vh;
}

main a {
  font-size: 1.5rem;
}

section {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 5px;
}

#about,
#contact {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #292e49, #536976);
  background: linear-gradient(to bottom, #292e49, #536976);
  color: white;
  max-width: 100%;
  padding: 1rem;
  min-height: 100vh;
}

.container {
  max-width: 100%;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.profile-photo {
  padding: 1rem;
  max-width: 20rem;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px);
}

.button-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
}

.about-me p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.projects {
  max-width: 100%;

  gap: 1rem;
}

.projects h2 {
  text-align: center;
  padding: 1rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.project1,
.project2 {
  max-width: 100%;
  margin-bottom: 2rem;
}

.project-border {
  border: 2px solid #0f0c29;
  max-width: 100%;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .project-container li {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .profile-photo {
    max-width: 100%;
  }
}
