:root {
  --red-gradient: radial-gradient(
    circle at 50.4% 50.5%,
    rgb(251, 32, 86) 0%,
    rgb(135, 2, 35) 90%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: radial-gradient(
    circle at 50.4% 50.5%,
    rgb(251, 32, 86) 0%,
    rgb(135, 2, 35) 90%
  );
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
  background: linear-gradient(
    16deg,
    rgba(83, 105, 118, 1) 0%,
    rgba(41, 46, 73, 1) 65%
  );
  border-radius: 5px;
  border: 2px dotted white;
}

main h1 {
  font-size: 50px;
  margin: 3rem 0 2rem 0;
}

main h2 {
  font-size: 42px;
}

main h3 {
  font-size: 28px;
}

nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 3;
}

nav ul {
  background: transparent;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: dotted;
}

nav a:hover,
#contact a:hover,
footer a:hover,
main h1:hover {
  background: var(--red-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px dotted white;
}

li {
  list-style: none;
  padding: 1rem;
}

button {
  margin: 0.5rem 0;
}

a button,
form button {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
}

main,
#projects,
#contact {
  background: #0f0c29;
  background: -webkit-linear-gradient(to bottom, #1a1a1b, #353437, #4f4e52);
  background: linear-gradient(to bottom, #1a1a1b, #353437, #4f4e52);
  color: white;
  max-width: 100%;
  min-height: 100vh;
}

main a button {
  font-size: 1.5rem;
}

section {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
  border-top: 3px dotted white;
}

footer {
  background: #0f0c29;
  background: -webkit-linear-gradient(to bottom, #1a1a1b, #353437, #4f4e52);
  background: linear-gradient(to bottom, #1a1a1b, #353437, #4f4e52);
  color: white;
  padding: 2rem 4rem;
  border-top: 3px dotted white;
}

footer h5 {
  color: white;
  font-size: 1.25rem;
}

footer li {
  padding: 10px 0 0 0;
}

footer li p {
  line-height: 2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.btn {
  background: linear-gradient(
    16deg,
    rgba(83, 105, 118, 1) 0%,
    rgba(41, 46, 73, 1) 35%
  );
  color: white;
  border: none;
  outline: none;
  position: relative;
  padding: 1rem 2rem;
  cursor: pointer;
  border-bottom: 2px dotted white;

  --red-gradient: radial-gradient(
    circle at 50.4% 50.5%,
    rgb(251, 32, 86) 0%,
    rgb(135, 2, 35) 90%
  );

  background: rgb(83, 105, 118);
  background: -moz-linear-gradient(
    16deg,
    rgba(83, 105, 118, 1) 0%,
    rgba(41, 46, 73, 1) 35%
  );
  background: -webkit-linear-gradient(
    16deg,
    rgba(83, 105, 118, 1) 0%,
    rgba(41, 46, 73, 1) 35%
  );
  background: linear-gradient(
    16deg,
    rgba(83, 105, 118, 1) 0%,
    rgba(41, 46, 73, 1) 35%
  );
}

.btn.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--red-gradient);
  transition: top, left, right, bottom, 100ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
  border-radius: 8px;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  border-radius: 8px;
  transform: scaleX(1);
}

.btn.btn-background-slide {
  border-radius: 8px;
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
  border-radius: 8px;
  color: white;
}

.button-container button {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.buttons button {
  width: 100%;
}

#about,
.other-projects {
  background: #536976;
  background: -webkit-linear-gradient(to bottom, #292e49, #536976);
  background: linear-gradient(to bottom, #292e49, #536976);
  color: white;
  max-width: 100%;
  padding: 1rem;
  min-height: 100vh;
}

.container {
  max-width: 100%;
}

.contact-container {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  line-height: 2;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  gap: 5rem;
  padding: 3rem;
  align-items: center;
  justify-content: center;
}

.header-image-container {
  max-width: 400px;
}

.header-image {
  max-width: 20rem;
  filter: drop-shadow(5px 5px 5px);
}

.title {
  text-align: center;
}

.title h1 {
  background: var(--red-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.profile-photo {
  padding: 1rem;
  max-width: 20rem;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px);
  border-bottom: 3px dotted white;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.projects {
  max-width: 100%;
}

.project-card {
  max-width: 500px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  max-width: 475px;
  max-height: 225px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.project-border {
  max-width: 100%;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

.other-projects {
  padding-bottom: 2rem;
}

#contact {
  background-image: url("/images/me-no-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact h2 {
  color: black;
}

.socials {
  padding-top: 2rem;
  max-width: 600px;
  font-size: 3rem;
}

.say-hello {
  max-width: 450px;
}

form input,
form textarea {
  width: 100%;
  padding: 3px 5px;
  border-radius: 8px;
  background: transparent;
  caret-color: white;
  color: white;
  border: 2px dotted white;
}

form input {
  font-size: 16px;
  line-height: 1.5;
}

form button {
  width: 100%;
}

form textarea {
  font-size: 18px;
  min-height: 60px;
}

#contact a,
footer a {
  text-decoration: dotted underline;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media (max-width: 600px) {
  nav ul {
    font-size: 22px;
  }

  main h1 {
    font-size: 2.5rem;
    margin: 3rem 0 2rem 0;
  }

  main button {
    margin: 0;
  }

  main h2 {
    font-size: 1.5rem;
  }

  footer {
    padding: 1rem;
  }

  main a {
    font-size: 1.2rem;
  }

  section .about-me p {
    font-size: 16px;
  }

  .intro {
    gap: 1rem;
    padding: 1rem;
  }

  .button-container {
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
  }

  .buttons {
    display: block;
  }

  .profile-photo {
    max-width: 100%;
  }

  .project-image img {
    max-width: 100%;
    height: auto;
  }

  .projects h2 {
    text-align: left;
  }

  .contact h2 {
    text-align: left;
  }

  .socials {
    max-width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    padding-left: 1rem;
  }
}
